@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

* 
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

section
{
    min-height: 100vh;
    padding: 9rem 7% 2rem;
}

.heading{
  color: var(--text-color);
}


header {
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header .logo {
    color: rgb(83, 83, 83);
    height: 60px;
    line-height: 60px;
    font-size: 1px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.btn1
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: .4rem .4rem .7rem var(--text-color);
}

.btn1:hover
{
    
    box-shadow: .4rem .4rem .7rem var(--bg-bg);
    box-shadow: none;
}

:root
{
    --bg-color: #1f242d;
    --second-bg-color: #323945;
    --text-color: #fff;
    --main-color: #0ef;
    --main-after: rgb(103, 245, 255) ;
    --shadow-after: #ff52f1;
    --shadow-color: #ff00ea;
    --bg-bg: #000;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:  'poppins',sans-serif;
}

html
{
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);

}

span{
    color: rgb(0, 193, 207);
}
    .multiple-text{
    color: var(--main-color);
}

.header{
    background-color: var(--second-bg);
}

.header a{
    font-size: 2.5rem;
    color: var(--text);
}

.logo{
  margin: 0%;
  padding: 1px;
}

nav {
  margin:auto;
  text-align: center;
  width: 110%;
  font-family: 'poppins',sans-serif;
  font-size: 2rem;
} 

nav ul {
  background:var(--bg-color );
  padding: 0 20px;
  list-style: none;
  position: relative;
  display: flex;
  display: inline-table;
  width: 90%;
}

nav ul li{
  float:left;
}

nav ul li:hover{
  background:var(--second-bg-color);
}

nav ul li:hover a{
 color:#000;
}

nav ul li a{
 display: block;
 padding: 13px;
 color: #fff;
 text-decoration: none;
}

.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
}

.home-text h2{
  font-size: 2rem;
}

.home-text p{
  color: #b3b3b3;
}

.home-content .home-img{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5)
}
.home-img img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.home-img img:hover{
    transform: scale(1.2);
}

.btn-group{
    margin: 60px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: var(--main-color);
}

.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--second-bg);
    border-radius: 4rem;
}

.btn:hover
{
    box-shadow: none;
}

.social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem -10rem 0;
    transition: .5rem ease;
    box-shadow: 0 .5rem 1rem var(--text-color);
}

.social-media a:hover
{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 .5rem 1rem var(--bg-bg);
}
/* about */

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}


.about-img 
{
    position: relative;
    border: 3px  solid rgb(17, 17, 17);
    box-shadow: .4rem .4rem .6rem var(--text-color);
}

.about-img img{
    width: 35vw;
    position: relative;
}

.me {
    border-color: #d5d5d5;
    color: #fff;
    background-color: rgba(114, 114, 114, 0.466);
    padding: 7px 25px;
    margin: 5px 0;

    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.me .heading 
{
    text-align: center;
    font-size: 3rem;
}

.about-content h2
{
    text-align: left;
    line-height: 1.2;
}

.about-content h3
{
    font-size: 2.6rem;
}

.me2
{
    border-color: #d5d5d5;
    color: #fff;
    background-color: rgba(14, 14, 14, 0.466);
    padding: 7px 25px;
    margin: 5px 0;
    margin-top: -1.8rem;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.about-content p
{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: #e2e2e2;
}



/* End About */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }

  .portfolio
  {
    background: var(--second-bg-color);
  }

  .portfolio h2
  {
    margin-bottom: 4rem;
  }

  .portfolio-container
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
  }

  .portfolio-container .portfolio-box
  {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  }

  .portfolio-box img
  {
    width: 100%;
  }

  .portfolio-box img:hover
  {
    transform: scale(1.1);
  }

  .portfolio-box .portfolio-layer
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0, .1), var(--main-color) );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .portfolio-box:hover .portfolio-layer
  {
    transform: translateY(0);
  }

  .portfolio-layer h4 
  {
    font-size: 3rem;
  }

  .portfolio-layer p
  {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
  }

  .portfolio-layer a
  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }

  .portfolio-layer a i 
  {
    font-size: 2rem;
    color: var(--second-bg-color);
  }

  .portfolio-box img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .portfolio-box img:hover {
    filter: grayscale(0);
  }

  .video{
    background-color: var(--second-bg-color);
  }

  .video .video-content{
    position:relative;
    overflow: hidden;
  }

  .video-content iframe{
    width: 21.7vw;
    height: 220px;
  }



  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#afafaf 50%, rgba(0, 238, 255, 0.635) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin: 1em 0;
  }

  p {
    color: #000000;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #0ef;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card:hover h3 {
    color: #000000;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
  .webs
  {
    background: var(--bg-color);
  }

  .card h2
  {
    margin-bottom: 4rem;
  }

  .card-container
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
  }

  .card-container .card-box
  {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  }

  .card-box img
  {
    width: 100%;
  }

  .card-box img:hover
  {
    transform: scale(1.1);
  }

  .card-box .card-layer
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0, .1), var(--bg-color) );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .card-box:hover .card-layer
  {
    transform: translateY(0);
  }

  .card-layer h4 
  {
    font-size: 3rem;
  }

  .card-layer p
  {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
  }

  .card-layer a
  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }

  .card-layer a i 
  {
    font-size: 2rem;
    color: var(--second-bg-color);
  }

  .card-box img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .card-box img:hover {
    filter: grayscale(0);
  }

  .contact{
    background-color: var(--second-bg);
  }

  .contact h2
  {
    margin-bottom: 3rem;
  }
  
  .contact form 
  {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;;
  }
  
  .contact form .input-box
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .input-box input,
  .contact form textarea
  {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
  }
  
  .contact form .input-box input-box{
    margin: 49%;
  }
  
  .contact form textarea
  {
    resize: none;
  }
  
  .contact form .btn-about{
    margin-top: 2rem;
    cursor: pointer;
  }
  
   @media (max-width: 1200px) {

        html {

          font-size: 55%;
        }
      }
      
            @media (max-width: 991px) {

        .header {

          padding: 2rem 3%;

        }

        

        section {

          padding: 10rem 3% 2rem;

        }

        

        .services

        {

          padding-bottom: 7rem;

        }

        

        .portfolio

        {

          padding-bottom: 7rem;

        }

        .webs

        {

          padding-bottom: 7rem;

        }

        

        .contact{

          min-height: auto;

        }

        

        .footer {

          padding: 2rem 3%;

        }

      }

      

     @media (max-width: 768px) {

.home 

{

  flex-direction: column;

}

.video-content iframe{
  width: 78vw;
  height: 320px;
}



.home-content h3

{

  font-size: 2.6rem;

}



.home-content h1

{

  font-size: 5rem;

}



.home-img img

{

  width: 75vw;
  margin-top: 0rem;

}

.header{
  padding: 5px;
  width: 100px;
}



.about

{

  flex-direction: column-reverse;

}



.about img{

  width : 70vw;

  margin-top: 4rem;

}



.services h2

{

  margin-bottom: 3rem;

}



.portfolio h2

{

  margin-bottom: 3rem;

}



.portfolio-container

{

  grid-template-columns: repeat(2, 1fr);

}

.card h2

{

  margin-bottom: 3rem;

}



.card-container

{

  grid-template-columns: repeat(2, 1fr);

}


}



@media (max-width: 617px) {

  .portfolio-container {

    grid-template-columns: 1fr;

  }

  .card-container {

    grid-template-columns: 1fr;

  }

}



@media (max-width: 450px)

{

  html {

    font-size: 50%;

  }

  

  .contact form .input-box input 

  {

    width: 100%;

  }

  .home-img img {

    width: 43vw;

  }

  

  .about-img img {

    width: 90vw;

  }

}

